[project]
	description = This is the Coursera JavaScript Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jacob19
[access "refs/for/refs/*"]
	read = group user/Jacob19
	push = group user/Jacob19
	label-Code-Review = -2..+2 group user/Jacob19
	label-Verified = -1..+1 group user/Jacob19
	rebase = group user/Jacob19
	removeReviewer = group user/Jacob19
	submit = group user/Jacob19
[access "refs/heads/*"]
	read = group user/Jacob19
	create = group user/Jacob19
	push = +force group user/Jacob19
	pushMerge = group user/Jacob19
[access "refs/tags/*"]
	push = group user/Jacob19
	push = +force group user/Jacob19
